/* Header.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header {
  width: 100%; /* Full width of the container */
  color: white; /* Text color */
  top: 0; /* Align to the top of the container */
  z-index: 1000; /* High z-index to keep it above other content */
}

/* Additional styles for header content */
.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name {
  /* Style for the name text */
  font-size: 1.7em; /* Example font size */
  margin: 0px 20px 0px 40px; /* Space between name and toggle button */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.email-toggle {
  /* Style for the email toggle button */
  background: none;
  border: none;
  padding:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.email-toggle img {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  padding-top: 3px;
}

.email-box {
  /* Style for the email display box */
  margin-top: 5px;
  margin-left: 140px;
  margin-right: 40px;
  padding: 20px;
  background-color: #ffffff;
  color: #545454;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 15px;
  display: flex; /* Use flexbox */
  align-items: center;
  justify-content: space-between; /* Space out children */
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.10);
  font-size: 0.8em;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-button img {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}